<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="icon" href="../img/Logo2.jpeg" type="image/icon type">
    <link rel="stylesheet" href="../static/styles/generales_user.css">
    <link rel="stylesheet" href="../static/styles/detalles.css">

</head>

<body>
    <header>
        <div id="cabeza">
            <div class="logoedit">
                <img class="logo" src="../img/logo_Emprenesy.png" alt="Emprenesy">
                <span class="titulo">Emprenesy</span>
            </div>
            <div id="Barra">
                <nav class="barraedit">
                    <ul class="nav_list">
                        <li>
                            <div class="container_input">
                                <input type="text" id="input_buscar" placeholder="Buscar...">
                                <div class="container_icon">
                                    <img src="../img/lupa.png" alt="buscador">
                                </div>
                            </div>
                        </li>
                        <li><a class="link" href="/templates/MVQ.html">Sobre Nosotros</a></li>
                        <li><a class="link" href="/templates/index.html">Inicio</a></li>
                        <li><a class="link" href="#">Mis favoritos</a></li>
                        <li><a class="link1" href="#"><img src="../img/perfil_user.png" alt="perfil"></a>
                            <ul class="perfil_list">
                                <li><a href="#">Ver perfil</a></li>
                                <li><a href="#">Notificaciones</a></li>
                                <li><a href="#">Configuración</a></li>
                                <li><a href="#">Cerrar sesión</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <main>
        <div class="container_efect">
            <div class="bublles" id="bubblesContainer"></div>
            <h2 class="info_title" id="title"></h2>
        </div>
        <div class="container_slider">
            <div class="row">
                <div class="col-xs-11 col-md-10 col-centered">

                    <div id="carousel" class="carousel slide" data-ride="carousel" data-type="multi"
                        data-interval="2500">
                        <div class="carousel-inner"></div>

                        <!-- Controls -->
                        <div class="left carousel-control">
                            <a href="#carousel" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </div>
                        <div class="right carousel-control">
                            <a href="#carousel" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <section class="contenedor_principal">
            <div class="container__info">
                <div class="info__detalles">
                    <div class="detalles info">
                        <h2>Detalles</h2>
                        <h3>Horario de atención</h3>
                        <p>12 pm - 10 pm</p>
                        <h3>Sitio Web</h3>
                        <p>No aplica</p>
                        <h3>Contacto</h3>
                        <p>3114506070</p>
                        <h3>Comidas</h3>
                        <p>Almuerzo,cena</p>
                        <div class="contenedor_button">
                            <button class="btn_info">Ver Características</button>
                        </div>
                    </div>
                    <div class="detalles__ubicacion info">
                        <h2>Ubicación e información</h2>
                        <div class="mapa">

                        </div>

                        <h3>Autopista Norte 114 - 44, Bogotá Colombia</h3>
                        <div class="contenedor_button">
                            <button class="btn_info">Ver Mapa</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>

    <footer>
        <div class="principal_footer">
            <div>
                <svg class="olas" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                    viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
                    <defs>
                        <path id="vector-olas"
                            d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
                    </defs>
                    <g class="efecto">
                        <use xlink:href="#vector-olas" x="48" y="0" fill="rgba(255,255,255,0.7" />
                        <use xlink:href="#vector-olas" x="48" y="3" fill="rgba(255,255,255,0.5)" />
                        <use xlink:href="#vector-olas" x="48" y="5" fill="rgba(255,255,255,0.3)" />
                        <use xlink:href="#vector-olas" x="48" y="7" fill=" #213859" />
                    </g>
                </svg>
            </div>
        </div>

        <div class="contenedor_footer">
            <div class="contenedor_content">

                <div class="contenedor_list">
                    <ul class="footer_list">
                        <li>Preguntas Frecuentes</li>
                        <li>Términos y Condiciones</li>
                    </ul>
                </div>

                <div class="contenedor_list2">
                    <ul class="footer_list">
                        <li>Contáctenos</li>
                        <li>Nosotros</li>
                    </ul>
                </div>

                <div class="contenedor_list3">
                    <ul class="footer_list">
                        <li>Siguenos en</li>
                        <div class="iconos">
                            <img src="../img/tik-tok.png" alt="tiktok">
                            <img src="../img/facebook.png" alt="facebook">
                            <img src="../img/instagram1.png" alt="instagram">
                        </div>
                    </ul>
                </div>

            </div>
            <p class="copy">&copy;2024-Emprenesy.Todos los derechos reservados</p>
        </div>
    </footer>


    <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js'></script>
    <script src='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js'></script>
    <script src="../static/js/datos.js"></script>
    <script src="../static/js/detalles.js"></script>

</body>

</html>