<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="icon" href="../img/Logo2.jpeg" type="image/icon type">
    <link rel="stylesheet" href="../static/styles/navegacion2.css">
    <link rel="stylesheet" href="../static/styles/detalle_emprend.css">
</head>
<body>
    <header id="cabecera">
        <div id="cabeza">
            <div class="logoedit">
                <img class="logo" src="../img/logo_Emprenesy.png" alt="Emprenesy">
                <span class="titulo">Emprenesy</span>
            </div>  
        </div>
    </header>
    <main>
        <div class="wrapper">
            <h2>emprendimiento</h2>
            <div class="box">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </main>
    <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js'></script>
    <script src='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js'></script>
    <script src="../static/js/navegacion_user.js"></script>
</body>
</html>