<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesion</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,400;0,700;1,400&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito&display=swap">
    <link rel="icon" href="../img/Logo2.jpeg" type="image/icon type">
    <link rel="stylesheet" href="../styles/iniciar_sesion.css">
</head>

<body>

    <header>
        <h1>Bienvenido a Emprenesy</h1>
    </header>

    <main>
        <div class="login-container">
            <h2> Iniciar Sesion</h2>
            <form action="" method="post">
                <div class="input-group">
                    <label for="usuario">Usuario:</label>
                    <input type="text" id="usuario" name="usuario" required>
                </div>
                <div class="input-group">
                    <label for="contraseña">Contraseña:</label>
                    <input type="password" id="contraseña" name="contraseña" required>
                    <a href="recuperar_contraseña.html" class="forgot-passaword">¿Olvidaste tu contraseña?</a>
                </div>
                <div class="input-group">
                    <button type="submit" onclick="iniciar_sesion()">Iniciar Sesión</button>
                </div>
            </form>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../js/sesion.js"></script>
</body>

</html>