@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,500;1,6..12,500&family=Poppins:wght@300;400&family=Roboto+Slab:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito Sans', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Roboto Slab', serif;

}
p {
    font-family: 'Poppins', sans-serif;
}

a {
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
}
ul,
ol {
    list-style: none;
}

/***************estilos del main publicaciones******************/
body{
    background-image: linear-gradient(135deg, #213859 0%, #2c5d9d 21%, #748ffc 57%, #a755f9 100%);
    background-repeat: no-repeat;
    background-size: cover;
}
.container_publicaciones{
    height: fit-content;
    position: relative;
    top: 100px;
    z-index: 1;
}
.publicaciones_contenido{
    padding: 20px 30px;
    margin: 0 20px;
}
.publicaciones_contenido .btn_pu{
    border: none;
    border-radius: 8px;
    width: 20%;
    margin: 15px 0;
    font-size: 18px;
    height: 35px;
    background-color: rgba(255, 255, 255, 0.5);
    transition: background-color 0.3s ease;
    
}
.publicaciones_contenido .btn_pu a{
    color: #fff;
}
.publicaciones_contenido .btn_pu:hover{
    background-color: rgba(255, 255, 255, 0.7);
}
.contenido__info{
    background-color: rgba(255, 255, 255, 0.2);
    margin: 20px 0 100px 0;
    border-radius: 8px;
    height: fit-content;
    padding: 10px 20px;
}
.contenido__info h2{
    color: #fff;
    text-align: center;
    margin: 15px 0;
}
/**********Estilos contenedores publicaciones************/
#publicaciones__form{
    transition: all 800ms linear;
    margin-left: 0;
    width: 100%;
    overflow-x: hidden;
}
#publicaciones__form.active{
    margin-left: 150px;
    width: calc(100% - 100px);
}
.container_pub{
    background-color: #ffffffab;
    height: fit-content;
    min-height: 250px;
    margin: 30px 15px;
    border-radius: 5px;
    padding: 40px;
}
.container_vac{
    width: 50%;
    padding: 10px;
    margin: 0 auto;
}
.div_icon{
    background-color: #051248;;
    padding: 10px;
    margin: 0 auto;
    width: 77px;
    height: 75px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div_icon .icon{
    font-size: 30px;
    text-align: center;
    color:#fff;
}
.container_vac h2{
    margin-top: 20px;
    font-size: 20px;
    color: #051248;
}
/********************Estilos del html publicaciones part 1************************/
#publicaciones{
    transition: all 800ms linear;
    margin-left: 0;
    width: 100%;
    overflow-x: hidden;
}
#publicaciones.active{
    margin-left: 220px;
    width: calc(100% - 250px);
}
.contenido__detalles{
    margin: 20px 0 100px 0;
    border-radius: 8px;
    height: fit-content;
    padding: 10px 20px;
}
.contenido__title h2{
    color: #fff;
    text-align: center;
    margin: 20px 0;
}
.info_detalles{
    margin: 25px auto;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    width: 70%;
    border-radius: 10px; 
}
.detalle__sitio h3{
    color: #fff;
    margin: 8px 4px -5px 0;
}
.detalle__sitio{
    margin: 0 auto;
    padding: 20px; 
    width: 80%;
}
.detalle__sitio label{
    display: block;
    margin-bottom: 15px;
    font-size: 18px;
    color: #fff;
}
.detalle__sitio input{
    border: none;
    border-radius: 6px;
    width: 60%;
    height: 30px;
    padding: 6px;
}
.detalle__sitio input::placeholder{
    color: #d4cfcf;
}
.detalle__sitio textarea::placeholder{
    color: #d4cfcf;
}
.file-upload-btn {
    background-color: #24ddd7;
    border: none;
    padding: 6px;
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    text-align: center;
    width: 60%;
    color: #fff;
    font-size: 14px;
}

.detalle__sitio select[name = 'restaurante']{
    border: none;
    width: 60%;
    padding: 6px;
    border-radius: 6px;
    cursor: pointer;
    color: #051248;
}
.detalle__sitio textarea{
    border: none;
    border-radius: 6px;
    padding: 6px;
}
.boton_form{
    display: flex;
    justify-content: center;
    align-items: center;
}
.boton_form .btn__form,#btn_regresar{
    margin-bottom: 20px;
    width: 50%;
    height: 40px;
    color: #051248;
    font-size: 18px;
    background-color: #fff;
    border: none;
    border-radius: 6px;
}
.boton_form .btn__form:hover,
#btn_regresar:hover{
    background-color:#3d77ba;
    color: #fff;
}
/************************** estilos de publicaciones res 1**********************************/
.detalle__sitioImg{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    padding: 10px;
    margin: 15px auto 20px auto;
    place-items: center;
    width: 80%;

}
.sitio__img{
    margin: 0 auto;
    width: 80%;
}
.detalles__btn{
    display: flex;
}