@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,500;1,6..12,500&family=Poppins:wght@300;400&family=Roboto+Slab:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito Sans', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Roboto Slab', serif;

}
p {
    font-family: 'Poppins', sans-serif;
}

a {
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
}
ul,
ol {
    list-style: none;
}
/******************************Estilos del container perfil***************************************/
body{
    background-image: linear-gradient(135deg, #213859 0%, #2c5d9d 21%, #748ffc 57%, #a755f9 100%);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
.container__perfil{
    padding: 10px;
}
.portada__foto{
    width: 80%;
    height: 450px;
    margin: 60px auto 0 auto;
    overflow: hidden;
}
.portada__foto img{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    object-fit: cover;
    object-position: center;
}
.portada__boton{
    position: relative;
    margin-left: 940px;
    bottom: 65px;
}
.portada_btn{
    background-color: #fff;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
}
.portada_btn i{
    margin-right: 10px;
}
.perfil__contenido{
    background-color: #f7f2f2;
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: -45px;
    padding: 20px;
}
.perfil__foto{
    position: relative;
    bottom: 150px;
    margin-left: 20px;
}
.perfil{
    width: 200px;
    
}
.perfil_icon i{
    font-size: 25px;
    background-color: #2c5d9d;
    border-radius: 50%;
    padding: 10px;
    color: #fff;
    cursor: pointer;
    position: relative;
    left: 150px;
    bottom: 60px;
}
.perfil img{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}
.perfil__foto h3{
    color: #2c5d9d;
    margin-left: 50px;
}
.datos__detalles{
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 80%;
    margin: -100px auto 0 auto;
    border-radius: 8px;
    padding-left: 40px;
}
.datos__detalles i {
    margin-right: 10px;
}

.datos__detalles h4{
    margin: 20px 0;
    font-size: 18px;
}

.detalles_btnPer{
    color: #fff;
    background-color: #2c5d9d;
    padding: 10px 20px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    width: 80%;
    font-size: 18px;
    margin: 40px auto 50px auto;
}
.detalles_btnPer:hover{
    background-color: #0c4ca0;
}
.datos_fotos{
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    height: 350px;
    padding: 20px;
    padding-left: 40px;
    width: 80%;
    border-radius: 8px;
    margin: 50px auto;
}
.perfil__opciones{
    padding: 10px;
}
.opciones{
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
}
.opciones a{
    color: #0c4ca0;
    font-weight: bold;
}
#opciones__reultado{
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    min-height: 800px;
    height: fit-content;
    margin: 30px 0;
    border-radius: 8px;
}