*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*estilos del buscador*/
.contenedor_restaurante {
    height: 220px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/buscador.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 20px;
}

.container_buscador {
    width: 56%;
    padding: 2px;
    border-radius: 15px;
    border: 2px solid #ffffff;
    background-color: transparent;
    display: flex;
    margin: 40px auto;
}

.container_filtrado {
    margin: 10px 15px;

}

.container_filtrado .selector {
    height: 40px;
    width: 200px;
    border: none;
    padding: 5px;
    background-color: #f8f8f8;
    border-radius: 10px;
    font-size: 17PX;
    text-align: center;
    cursor: pointer;

}

.container_input {
    text-align: center;
    margin: 10px 15px;
    position: relative;
}

#input_buscar {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    width: 470px;
    height: 40px;
}

.container_icon {
    width: 30px;
    height: 30px;
    overflow: hidden;
    position: absolute;
    bottom: 6px;
    left: 430px;
    cursor: pointer;
}

.container_icon img {
    width: 100%;
    height: auto;
    display: block;
}
/**/
.tipos_restaurantes{
    display: flex;
    margin: 100px 200px;
    margin-left: -5px;

}

.container_tarjeta{
    background-color: red;
    display: block;
    width: 400px;
    border-radius: 20px;
    padding: 10px;
    margin-right: 30px;

}

.tipo_imagen{
    margin: 0 auto;
    width: 94%;
   height: 250px;
    
}
.tipo_imagen img{
    width: 100%;
    height: 100%;
    margin: 20px auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgb(18, 23, 71); /* Sombra */

}
.container_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 20px;
   
    
}
.btn {
    width: 140px;
    height: 45px;
    background: linear-gradient(to top, #03004c, #12376e, #23487f);
    color: #fff;
    border-radius: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    margin-bottom: 20px;
    
  }
  
  .btn span {
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: top 0.5s;
  }
  
  .btn-text-one {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  
  .btn-text-two {
    position: absolute;
    width: 100%;
    top: 150%;
    left: 0;
    transform: translateY(-50%);
  }
  
  .btn:hover .btn-text-one {
    top: -100%;
  }
  
  .btn:hover .btn-text-two {
    top: 50%;
  }
  
.contenido_texto p{
    font-family: 'Times New Roman', Times, serif;
    width: 300px; /* Ancho del contenedor */
    padding: 5px; /* Espacio de relleno dentro del contenedor */
    border: 1px solid #ccc; /* Borde del contenedor */
    border-radius: -20px; /* Radio de borde para esquinas redondeadas */
    background-color: #f9f9f9; /* Color de fondo del contenedor */
    text-align: center;
    margin: 0 auto;  
    margin-top: 45px;  
  }

  
  /* Estilos para el texto dentro del contenedor */
  .contenedor p {
    color: #3917b4; /* Color del texto */
  }
  .tipos_texto{
    background-color: #12376e;
    padding: 20px;
    display: flex;
    
  }