/*estilos de la barra de navegacion*/
#cabeza {
  background-color: transparent;
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Agrega una sombra suave */
  transition: background-color 0.3s ease;
}

.logoedit {
  width: 120px;
  height: 100px;
  text-align: left;
  padding: 20px;
}
.titulo {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  font-family: 'Nunito', sans-serif;
  letter-spacing: 4px;
  position: relative;
  
}
.logo {
  position: absolute;
  top: -18px;
  left: -3%;
  width: 310px;
  height: auto;
}

.barraedit {
  width: 1000px;
  height: 20px;
  text-align: center;
  margin-left: 600px;
  padding: 60px;
}

#barra {
  text-align: center;
}

.link {
  margin: 0 20px;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

.link1 {
  margin: 0 20px;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  padding: 20px;
  border: solid #b4dbdc;
  overflow: hidden;
}

.link:hover {
  color: #b4dbdc;
}

.link1:hover {
  color: #b4dbdc;
}

@media (max-width: 1400px) {
  #cabeza {
      height: 73px;
      
  }
  .logoedit {
      margin: 0 auto;
      width: 0;
      height: 0;
      text-align: center;
      display: flex;
      align-items: center;
      padding: 0px;
  }
  .logo {
      position: absolute;
      top: -10px;
      left: -2%;
      width: 170px;
      height: auto;
      max-width: 100%;
  }
  .titulo {
      color: #fff;
      font-size: 30px;
      font-weight: 700;
      font-family: 'Nunito', sans-serif;
      letter-spacing: 4px;
      position: relative;
      top: 35px;
      right: 250px;
  }
  #barra{
      position: absolute;
  }
  .barraedit {
      width: auto;
      height: 0;
      margin: 0;
      padding: 20px;
      position: relative;
  }
  .link {
      margin: 0 20px;
      font-size: 18px;
      font-weight: 700;
  }
  .link1 {
      font-size: 18px;
      font-weight: 700;
      padding: 7px;
  }
}
/*estilos del footer*/
.principal_footer {
    position:relative;
    text-align:center;
  }
  
  .olas {
    position:relative;
    width: 100%;
    height:25vh;
    margin-bottom:-7px; 
    min-height:100px;
    max-height:150px;
    
  }
  
  /* Animation */
  .efecto > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
  }
  .efecto > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
    
  }
  .efecto > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
    
  }
  .efecto > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
    
  }
  .efecto > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
    
  }
  @keyframes move-forever {
    0% {
     transform: translate3d(-90px,0,0);
    }
    100% { 
      transform: translate3d(85px,0,0);
    }
  }
  /*Shrinking for mobile*/
  @media (max-width: 768px) {
    .olas {
      height:40px;
      min-height:40px;
    }
  }
  .contenedor_footer{
    background-color: #213859;
    color:#ffffff;
    padding: 10px;
  }
  .contenedor_content{
    display: flex;
    justify-content: space-between;
  }
  .contenedor_list3{
    margin-right: 50px;
  }
  .footer_list{
    margin: 20px 40px;
    font-size: 16px;
    text-align: center;
  }
  .footer_list li{
    list-style: none;
    margin: 20px 0;
    cursor: pointer;
  }
  .iconos img{
    width: 30px;
    margin: 10px 5px;
  }
  .copy{
    text-align: center;
    font-size: 15px;
    margin: 10px 0;
  }