/*estilos de la barra de navegacion*/
#cabeza {
  background-color: transparent;
  display: flex;
  position: fixed;
  justify-content: space-between;
  top: 0;
  z-index: 1000;
  height: 73px;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.logoedit {
  display: flex;
  text-align: center;
  align-items: center;
  padding: 10px;
  margin-left: -40px;

}

.titulo {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  font-family: 'Nunito', sans-serif;
  letter-spacing: 2px;
  font-style: oblique;
  margin-left: -40px;
}

.logo {
  width: 170px;
  height: auto;
}

.barraedit {
  width: auto;
  text-align: center;
  font-size: 18px;
  padding: 20px;
}

.link {
  margin: 0 20px;
  text-decoration: none;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.link1 {

  margin: 0 20px;
  text-decoration: none;
  color: #fff;
  font-family: "Poppins", sans-serif;
  border: solid #b4dbdc;
  overflow: hidden;
  font-size: 18px;
  font-weight: 700;
  padding: 7px;
}

.link:hover {
  color: #6efadc;
  border-bottom: 1px solid #6efadc;
  padding-bottom: 3px;
}

.link1:hover {
  color: #6efadc;
}

/*menu toggle*/
@media only screen and (max-width: 991px) {

  #Barra {
    display: none;

  }

  .titulo {
    top: 35px;
    left: 50px;
  }

  .logo {
    top: -15px;
    left: 80%;
    width: 180px;
  }
}

/*estilos del footer*/
.principal_footer {
  position: relative;
  text-align: center;
}

.olas {
  position: relative;
  width: 100%;
  height: 25vh;
  margin-bottom: -7px;
  min-height: 100px;
  max-height: 150px;

}

/* Animacion */
.efecto>use {
  animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.efecto>use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;

}

.efecto>use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;

}

.efecto>use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;

}

.efecto>use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;

}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  100% {
    transform: translate3d(85px, 0, 0);
  }
}

@media (max-width: 768px) {
  .olas {
    height: 40px;
    min-height: 40px;
  }
}

.contenedor_footer {
  background-color: #213859;
  color: #ffffff;
  padding: 10px;
}

.contenedor_content {
  display: flex;
  justify-content: space-between;
}

.contenedor_list3 {
  margin-right: 50px;
}

.footer_list {
  margin: 20px 40px;
  font-size: 16px;
  text-align: center;
}

.footer_list li {
  list-style: none;
  margin: 20px 0;
  cursor: pointer;
}

.iconos img {
  width: 30px;
  margin: 10px 5px;
}

.copy {
  text-align: center;
  font-size: 15px;
  margin: 10px 0;
}