*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-family: "Poppins", sans-serif; ;
}
p,a{
    font-family: "Open Sans", sans-serif;
}
/*estilos de la barra de navegacion*/
#cabeza {
    background-color: #213859;
    display: flex;

}

.logoedit {
    width: 120px;
    height: 100px;
    text-align: left;
    padding: 20px;
}

.logo {
    position: absolute;
    top: -18px;
    left: -3%;
    width: 310px;
    height: auto;
}

.barraedit {
    width: 1000px;
    height: 20px;
    text-align: center;
    margin-left: 600px;
    padding: 60px;
}

#barra {
    text-align: center;
}

.link {
    margin: 0 20px;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.link1 {
    margin: 0 20px;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding: 20px;
    border: solid #b4dbdc;
    overflow: hidden;
}

.link:hover {
    color: #b4dbdc;
}

.link1:hover {
    color: #b4dbdc;
}

@media (max-width: 1400px) {
    #cabeza {
        height: 73px;
    }
    .logoedit {
        margin: 0 auto;
        width: 0;
        height: 0;
        text-align: center;
        display: flex;
        align-items: center;
        padding: 0px;
    }
    .logo {
        position: absolute;
        top: -10px;
        left: -2%;
        width: 170px;
        height: auto;
        max-width: 100%;
    }
    .titulo {
        color: #fff;
        font-size: 30px;
        font-weight: 700;
        font-family: 'Nunito', sans-serif;
        letter-spacing: 4px;
        position: relative;
        top: 35px;
        right: 250px;
    }
    #barra{
        position: absolute;
    }
    .barraedit {
        width: auto;
        height: 0;
        margin: 0;
        padding: 20px;
        position: relative;
    }
    .link {
        margin: 0 20px;
        font-size: 18px;
        font-weight: 700;
    }
    .link1 {
        font-size: 18px;
        font-weight: 700;
        padding: 7px;
    }
}

/*estilos del buscador*/
.contenedor {
    height: 220px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/buscador.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 20px;
}

.container_buscador {
    width: 55%;
    padding: 2px;
    border-radius: 15px;
    border: 2px solid #ffffff;
    background-color: transparent;
    display: flex;
    margin: 40px auto;


}

.container_filtrado {
    margin: 10px 15px;

}

.container_filtrado .selector {
    height: 40px;
    width: 200px;
    border: none;
    padding: 5px;
    background-color: #f8f8f8;
    border-radius: 10px;
    font-size: 17PX;
    text-align: center;
    cursor: pointer;

}

.container_input {
    text-align: center;
    margin: 10px 15px;
    position: relative;
}

#input_buscar {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 470px;
    height: 40px;
}

.container_icon {
    width: 30px;
    height: 30px;
    overflow: hidden;
    position: absolute;
    bottom: 6px;
    left: 430px;
    cursor: pointer;
}

.container_icon img {
    width: 100%;
    height: auto;
    display: block;
}  