*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contenedor{
    height: 200px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/buscador.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 20px;
    
}
.container_buscador{
    width: 55%;
    padding: 2px;
    border-radius: 15px;
    border: 2px solid #ffffff;
    background-color: transparent;
    display: flex;
    margin: 40px auto;

    
}
.container_filtrado{
    margin: 10px 15px;

}
.container_filtrado .selector{
    height: 40px;
    width: 200px;
    border: none;
    padding: 5px;
    background-color: #f8f8f8;
    border-radius: 10px;
    font-size: 17PX;
    text-align: center;
    cursor: pointer;

}
.container_input{
    text-align: center;
    margin: 10px 15px;
    position: relative;
}

#input_buscar {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 470px;
    height: 40px;
}
.container_icon{
    width: 30px;
    height: 30px;
    overflow: hidden;
    position: absolute;
    bottom: 6px;
    left: 430px;
    cursor: pointer;
}
.container_icon img{
    width: 100%;
    height: auto;
    display: block;
}