* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: "Poppins", sans-serif;
    
}

p,
a {
    font-family: "Open Sans", sans-serif;
}

/*estilos del buscador*/
.contenedor {
    height: 450px;
    overflow: hidden;
}

.carousel-inner {
    height: 500px;
}

.carousel-item img {
    width: 100%;
    height: auto;
}

#carouselExampleSlidesOnly {
    position: relative;
    z-index: 0;
    /* Asegura que el slider esté por debajo del buscador */
}

#carouselExampleSlidesOnly .carousel-inner {
    position: relative;
}

#carouselExampleSlidesOnly .carousel-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.384);
    /* Color negro semi-transparente */
    z-index: 1;
    /* Asegura que la capa esté por encima de las imágenes */
}

.container_buscador {
    position: relative;
    z-index: 2;
    background-color: transparent;
    width: 56%;
    padding: 2px;
    border-radius: 15px;
    border: 2px solid #ffffff;
    background-color: transparent;
    display: flex;
    margin: 40px auto;
    position: absolute;
    top: 150px;
    left: 250px;
}

.container_filtrado {
    margin: 10px 15px;

}

.container_filtrado .selector {
    height: 40px;
    width: 200px;
    border: none;
    padding: 5px;
    border-radius: 10px;
    font-size: 17PX;
    text-align: center;
    cursor: pointer;
    font-weight: 700;
    color: #161616;

}

.container_input {
    text-align: center;
    margin: 10px 15px;
    position: relative;
}

#input_buscar {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 15px;
    width: 470px;
    height: 40px;
}

.container_icon {
    width: 30px;
    height: 30px;
    overflow: hidden;
    position: absolute;
    bottom: 6px;
    left: 430px;
    cursor: pointer;
}

.container_icon img {
    width: 100%;
    height: auto;
    display: block;
}
@media only screen and (max-width: 991px) {
    .container_buscador {
        width: 80%; 
        top: 100px; 
        left: 50%;
        transform: translateX(-50%);
      }
    
      #input_buscar {
        width: 100%; 
      }
      .container_icon {
        left: calc(100% - 40px);
      }  
}
/*estilos de tarjetas*/
.contenedor_tarjetas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 0;
    background-image: url(../img/bogota_noche.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 95%;
    margin: 40px auto;
    color: #fff;
    border-radius: 20px;
    position: relative;
}

.contenedor_tarjeta {
    display: flex;
    margin-right: 70px;
    padding: 30px;
}

.tarjeta {
    position: relative;
    display: inline-block;
    margin: 0 10px 30px 0px;
    padding: 0 20px;
    width: 300px;
    height: fit-content;
    border-radius: 15px;
    overflow: hidden;
    margin-top: 40px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border: 3px solid #fff;
}

.tarjeta_efecto .tarjeta_content {
    margin: 0;
    text-align: center;
    padding: 20px 15px;
}

.tarjeta_efecto span {
    position: absolute;
    display: block;
}

.tarjeta_efecto span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 6px;
    background: linear-gradient(90deg, transparent, #cc80ff);
    animation: btn-anim1 1s linear infinite;
}

.tarjeta_efecto span:nth-child(2) {
    top: -300%;
    right: 0;
    width: 6px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #cc80ff);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s;
}

.tarjeta_efecto span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 6px;
    background: linear-gradient(270deg, transparent, #cc80ff);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s;
}

.tarjeta_efecto span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 6px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #cc80ff);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }

    50%,
    100% {
        top: 100%;
    }
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }

    50%,
    100% {
        right: 100%;
    }
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }

    50%,
    100% {
        bottom: 100%;
    }
}

.tarjeta_img {
    width: 60px;
    height: 60px;
    position: relative;
    left: 180px;
}

.tarjeta_content h2 {
    font-size: 22px;
    margin: 20px 0;
}

.tarjeta_content p {
    font-size: 16px;
    font-style: italic;
}
@media only screen and (max-width: 991px) {
    .contenedor_tarjeta {
        width: 100%; 
        margin-right: 0; 
        margin-bottom: 20px; 
        padding: 20px; 
        box-sizing: border-box; 
      }
      .tarjeta_img {
        display: none;
      }
}
/*Estilos de slider de tarjetas*/
.contenedor_slider {
    padding: 20px 0;
}
.contenedor_texto{
    display: flex;
    justify-content: space-between;
    margin: 20px 50px;
    color: #000;
}
.contenedor_texto h2{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.185);
}
.contenedor_texto a{
    color: #fff;
    font-size: 18px;
    margin-right: 50px;
    font-weight: bold;
    text-decoration: none;
    background-color: #213859;
    width: 150px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}
.container_slider{
    width: 80%;
    margin: 0 auto;
    position: relative;
    padding: 15px;
}

.slider_tarjetas, .slider_tarjetas2,.slider_tarjetas3 {
    display: flex;
    overflow-x: hidden;
    justify-content: center;
}

.tarjetas {
    width: 300px;
    height: 300px;
    background-color: #213859;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    overflow: hidden;
    padding: 8px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);

}

.cardBox {
    float: left;
    font-size: 1.2em;
    margin: 1% 0 0 1%;
    perspective: 800px;
    transition: all 0.3s ease 0s;
    width: 23.7%;
    max-width: 100%;
    width: 500px;
    overflow: hidden;
    height: 290px;
}

.cardBox:hover .card {
    transform: rotateY(180deg);
}

.card {
    background-color: #fff;
    border: none;
    cursor: default;
    height: 300px;
    transform-style: preserve-3d;
    transition: transform 0.4s ease 0s;
    width: 100%;
    -webkit-animation: giro 1s 1;
    animation: giro 1s 1;
}

.front_imagen {
    width: 100%;
    height: 100%;
}

.front_imagen img {
    max-width: 100%;
    margin: 0 auto;
    height: 100%;
}

.card .front,
.card .back {
    backface-visibility: hidden;
    box-sizing: border-box;
    color: white;
    display: block;
    font-size: 1.2em;
    height: 100%;
    position: absolute;
    text-align: center;
    width: 100%;
}

.card .back {
    transform: rotateY(180deg);
}

.card .back h3 {
    color: #000;
    margin: 45px 0 30px 0;
    text-align: center;

}

.card .back a {
    background: #213859;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 25px;
    padding: 5px 10px;

}

.card .back a:hover {
    background-color: #03d348;
}

.cardBox .card .back {
    background-color: #fff;
}



@-webkit-keyframes giro {
    from {
        transform: rotateY(180deg);
    }

    to {
        transform: rotateY(0deg);
    }
}

@keyframes giro {
    from {
        transform: rotateY(180deg);
    }

    to {
        transform: rotateY(0deg);
    }
}

/*estilos a los controles del slider de tarjetas*/
.controles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 14px;
}

.button img {
    width: 20px;
}

.button_anterior,.button_siguiente,.button_anterior2,.button_siguiente2,.button_anterior3,.button_siguiente3{
    border: none;
    padding: 15px;
    cursor: pointer;
    border-radius: 50%;
    background-color: #ffffff;
    position: relative;
    top: -180px;
}

.button_anterior,.button_anterior2,.button_anterior3 {
    right: 40px;
}

.button_siguiente, .button_siguiente2,.button_siguiente3 {
    left: 30px;
}

.button_siguiente2 {
    left: 30px;
}
.button_siguiente:hover,
.button_anterior:hover {
    background-color: #ffd8e6;
}

